.about-header {
  position: relative;

  h1 {
    max-width: calc(100% - 150px);

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  button {
    color: $purple;
    background-color: var(--bs-body-bg);

    padding-right: 30px;
    margin-left: auto;
    position: relative;

    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      content: '';

      background-size: contain;
      background-image: url(../assets/img/icon-arr-down.png);
      background-repeat: no-repeat;
    }
  }
}
