.badge {
  width: fit-content;
  font-size: 14px;
  background-color: $purple;
  color: $white;
}

.short-card-badge {
  position: absolute;
  left: 24px;
  bottom: 20px;
}

.full-card-badge {
  background-color: $purple;
}

.mini-card-badge {
  padding-left: 0;
  background-color: transparent;
  color: $purple;
}
