/*.carousel {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin-top: 100px;

  section {
    height: inherit;
  }
}

.slider-card {
  max-height: 240px;
}

.carousel-inner {
  height: 100vh;
  min-height: inherit;
  max-height: inherit;
}

/*.carousel-item {
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  width: 100%;
  //padding-bottom: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-side {
  .partner-logo {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 170px;
    object-fit: contain;

    @include media-breakpoint-down(xl) {
      max-height: 130px;
    }

    @include media-breakpoint-down(lg) {
      max-height: 100px;
    }

    @include media-breakpoint-down(md) {
      max-height: 70px;
    }
  }

  .collage-part {
    &:not(:last-child) {
      padding-right: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 350px;
      object-fit: cover;
      object-position: left;

      @include media-breakpoint-down(md) {
        max-height: 200px;
        margin-bottom: 20px;
      }
    }

    @include media-breakpoint-down(md) {
      &:not(:last-child) {
        padding-right: 0;
      }

      &:nth-child(1) {
        padding-right: 10px;
      }
      &:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
}*/

.carousel {
  min-height: 667px;

  &-inner {
    height: inherit;
  }

  &-item {
    padding-top: 25px;
    padding-bottom: 125px;
  }
}

.about-slide {
  &-desc {
    font-size: 22px;
    font-weight: 500;
  }

  &-text {
    font-size: 18px;
    font-weight: 300;
    span {
      font-weight: 500;
    }
  }

  &-btn {
    @extend .flex-centered-content;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    width: 100%;
    max-width: fit-content;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }

    text-transform: uppercase;

    &-purple {
      svg {
        fill: $white;
      }
    }
  }
}

.carousel-indicators {
  .indicator {
    @extend .button-default;
    @extend .flex-centered-content;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid transparent;

    &-inner {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.active {
      border-color: rgba(255, 255, 255, 0.5);

      & .indicator-inner {
        background-color: $purple;
      }
    }

    &-purple {
      .indicator-inner {
        background-color: #664599;
        opacity: 0.5;
      }
    }

    &-purple.active {
      border-color: #664599;

      .indicator-inner {
        opacity: 1;
      }
    }
  }
}

.controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;

  .scroll-btn {
    position: absolute;
    bottom: -1rem;
    left: var(--bs-gutter-x, 0.75rem);

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  .control {
    @extend .button-default;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: fit-content;
    max-width: 360px;
    z-index: 3;
    color: $white;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    span {
      padding: 0 15px;
      font-size: 18px;

      @include media-breakpoint-down(xl) {
        font-size: 16px;
      }
    }

    svg {
      fill: $white;
    }

    &-purple {
      svg {
        fill: $black
      }
    }
  }
}

.about-slide-item {
  &.slide-bg {
    picture {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.about-slide-card {
  max-height: 240px;
  .card {
    min-height: initial;

  }

  @include media-breakpoint-down(md) {
    max-height: 200px;
  }
}

.card-test {
  height: 30vh;

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  &-body {
    height: 30%;
    padding: 2vh;

    h3 {
      font-size: 2vh;
      font-size: clamp(2vh, 20px, 2vh)
    }

    p {
      font-size: 1.5vh;
    }
  }
}
