.download-btn {
  svg {
    width: 34px;
    padding-left: 10px;
    fill: $purple;
    transition: fill .15s ease-in-out;
  }

  &:hover,
  &:focus {
    svg {
      fill: $white;
    }
  }

  &--full-width {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
