.navbar-dropdown-toggle {
  &::after {
    border: 0;
    width: 14px;
    height: 20px;
    margin-left: 0.35em;
    vertical-align: -0.3em;
    background-image: url("../assets/img/icon-arr-down.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
