.main-footer {
  .section-title {
    font-size: 22px;
    padding-bottom: 15px;

    &::before {
      height: 2px;

      @include media-breakpoint-down(xxl) {
        display: block;
      }
    }
  }

  &-logos {
    svg {
      fill: $white;
    }
  }

  .nav-item a {
    color: $white;

    @extend .opacity-hover;
  }

  .contacts-list a {
    @extend .opacity-hover;
  }
}

.mobile-footer {
  .accordion-item {
    border-color: rgba(255,255,255,0.05);
  }
}
