.scroll-btn {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  width: 60px;
  height: 100px;
  background-color: $purple;

  &.gsap-scroll-btn {
    height: 0;
  }

  svg {
    fill: white;
  }
}
