.slide-side-card {
  max-width: 378px;
  //gsap
  transform: translateY(300px);
  opacity: 0;
  //gsap

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 100%;
  }
}

.slide-side-title {
  p {
    font-size: 64px;

    @include media-breakpoint-down(xxl) {
      font-size: 50px;
    }
  }

  span {
    font-size: 22px;

    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }
}

.slide-side-desc {
  font-size: 18px;

  @include media-breakpoint-down(xl) {
    font-size: 15px;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
