.outline {
  outline: 1px solid red;
}

#scrollbar {
  overflow-y: scroll;
  top: 0;
  right: 0;
  display: none;
  width: 12px;
  height: 100%;
  position: fixed;
  z-index: 100005;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden !important;
}

/*.projects {
  background-color: rgb(242,242,242);
} */

::-webkit-scrollbar {
  background-color: $gray;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $purple;
}

header {
  min-height: 100px;

  @include media-breakpoint-down(md) {
    min-height: 70px;
  }
}

footer {
  margin-top: auto;
}

.section {
  position: relative;
  padding: 120px 0;
  z-index: 5;

  @include media-breakpoint-down(xxl) {
    padding: 100px 0;
  }

  @include media-breakpoint-down(lg) {
    align-items: center;
    padding: 90px 0;
    padding-bottom: 186px;
  }

  @include media-breakpoint-down(md) {
    padding: 60px 0;
    padding-bottom: 156px;
  }
}

svg {
  //fill: $purple;
}

table {
  th {
    width: 200px;

    @include media-breakpoint-down(xxl) {
      width: 175px;
    }

    @include media-breakpoint-down(lg) {
      width: 155px;
    }

    @include media-breakpoint-down(md) {
      width: 120px;
    }
  }
}

.section-header {
  margin-bottom: 3.125rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 2.5rem;
  }

  @include media-breakpoint-down(md) {
    h1 {
      margin-bottom: 0.9375rem;
    }

    margin-bottom: 1.875rem;
  }
}

.section-title {
  position: relative;
  padding-bottom: 30px;
  text-transform: capitalize;
  font-size: $h2-font-size;

  @include media-breakpoint-down(xxl) {
    font-size: 2.75rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.875rem;
  }

  &::before {
    position: absolute;
    left: 0;
    bottom: 5px;
    content: '';
    width: 60px;
    height: 5px;

    background-color: $purple;
  }

  &-centered {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include media-breakpoint-down(xxl) {
    &:not(&-centered) {
      &::before {
        display: none;
      }
    }
  }
}

.main-logo {
  @include media-breakpoint-down(md) {
    width: 199px;
    height: 30px;
    object-fit: contain;
  }
}

.main-link {
  font-weight: 500;
  text-decoration-line: underline;
  color: $purple;
}

.fit {
  width: 100%;
  max-width: fit-content;
}
