.main-scroll {
  &::-webkit-scrollbar {
      background-color: var(--main-scrollbar-color);
      width: var(--main-scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--main-scrollbar-thumb-color);
  }
}

.flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

