-
  const _mainNavData = [
    {
      url: 'index.html',
      name: 'Home',
      isActive: true
    },
    {
      url: 'about.html',
      name: 'About us'
    },
    {
      url: 'projects.html',
      name: 'Projects'
    },
    {
      url: 'publications.html',
      name: 'Publications'
    },
    {
      url: 'announcement.html',
      name: 'Аnnouncement'
    },
    {
      url: 'faq.html',
      name: 'FAQ'
    },
  ]
