include ../../mixins/_card
include ../../mixins/_main-select

-
  cards = [
    {
      type: 'short',
      img: '../assets/img/publ_2@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Complex wood processing in Bulgaria',
      desc: 'Apply for funding Senior specialist Sergey Todor...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_3@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Optimization of traffic flows by land and water transport in Bulgaria and the Balkans',
      desc: 'Ph.D. Borys Levit...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_4@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Gasification of Bulgarian mined coals',
      desc: 'Apply for funding Senior specialist Nikolay Smakovskiy...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_5@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Transport package trading and producing',
      desc: 'Apply for funding Senior specialist Sergey Todor...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_6@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Optimization of traffic flows by land and water transport in Bulgaria and the Balkans',
      desc: 'Ph.D. Borys Levit...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_7@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Gasification of Bulgarian mined coals',
      desc: 'Apply for funding Senior specialist Nikolay Smakovskiy...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_8@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Complex timber processing',
      desc: 'Innovation in building materials is an unceasing reality of our construction ...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_9@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Big logistics data processing',
      desc: 'Engineering research seeks improvements in theory and practice in fields such as ...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_10@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Coal trading, 250 000 tones',
      desc: 'The systematic gathering, recording, and analysis of qualitative and quantitative ...'
    },

    {
      type: 'short',
      img: '../assets/img/publ_11@1x.jpg',
      badgeText: '18.12.2021',
      title: 'Transport package trading and producing',
      desc: 'Many agricultural commodities trade on stock and derivatives markets. We show ...'
    },
  ]

section.publications.bg-lightgray.pb-5
  .section-header.d-flex.flex-column.align-items-start.flex-md-row.align-items-md-center
    h1.me-auto.pe-3 Publications
    .select-box.d-flex.align-items-center
      span.me-2.fw-light Sort&nbsp;By:
      +main-select({
        label: 'Sort by',
        selected: 'Publication date',
        options: ['Publication date', 'Two', 'Three']
      })

  .row
    .col-12.col-lg-4.col-xxl-6.mb-4
      +card({
        type: 'full',
        img: '../assets/img/publ_1@1x.jpg',
        title: 'Gasification of Bulgarian mined coals',
        desc: 'Apply for funding Senior specialist Nikolay Smakovskiy. Apply for funding Senior specialist Nikolay Smakovskiy...'
      })

    each card in cards
      .col-12.col-md-6.col-lg-4.col-xxl-3.mb-4
        +card(card)

  .row.pt-5.mb-5
    include ../../components/_pagination
