include ../../mixins/_inner-page-view

-
  headCard = {
    type: 'full',
    img: './assets/img/publ_1@1x.jpg',
    title: 'Gasification of Bulgarian mined coals',
    desc: 'Apply for funding Senior specialist Nikolay Smakovskiy. Apply for funding Senior specialist Nikolay Smakovskiy...',
    url: 'publication-article.html'
  }

-
  cards = [
    {
      type: 'short',
      img: './assets/img/publ_2@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Complex wood processing in Bulgaria',
      desc: 'Apply for funding Senior specialist Sergey Todor...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_3@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Optimization of traffic flows by land and water transport in Bulgaria and the Balkans',
      desc: 'Ph.D. Borys Levit...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_4@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Gasification of Bulgarian mined coals',
      desc: 'Apply for funding Senior specialist Nikolay Smakovskiy...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_5@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Transport package trading and producing',
      desc: 'Apply for funding Senior specialist Sergey Todor...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_6@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Optimization of traffic flows by land and water transport in Bulgaria and the Balkans',
      desc: 'Ph.D. Borys Levit...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_7@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Gasification of Bulgarian mined coals',
      desc: 'Apply for funding Senior specialist Nikolay Smakovskiy...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_8@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Complex timber processing',
      desc: 'Innovation in building materials is an unceasing reality of our construction ...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_9@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Big logistics data processing',
      desc: 'Engineering research seeks improvements in theory and practice in fields such as ...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_10@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Coal trading, 250 000 tones',
      desc: 'The systematic gathering, recording, and analysis of qualitative and quantitative ...',
      url: 'publication-article.html'
    },

    {
      type: 'short',
      img: './assets/img/publ_11@1x.jpg',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Transport package trading and producing',
      desc: 'Many agricultural commodities trade on stock and derivatives markets. We show ...',
      url: 'publication-article.html'
    },
  ]

-
  const data = {
    headCard,
    cards,
    pageTitle: 'Publications',
    pageClass: 'publications'
  }

+inner-page-view(data)
