include ../mixins/_main-about-slide-view

//+main-about-slide-view({
  bg: 'about_1@1x.jpg',
  title: ' testOrganization structure Temperi Logistics Ltd',
  sideImg: 'book@1x.png',
  desc: '',
  btnText: 'More Info',
  slideContentCls: 'col-12 col-lg-6',
  type: 'main',
  isActive: true,
  })*/

.carousel-item(style="background-image: url('./assets/img/about_1@1x.jpg')")
  .container.h-100
    .row.h-100
      .col-6.py-5.my-auto
        h2.mb-5 Reporting Temperi Logistics Ltd

        +main-link({
          text: 'more info',
          cls: 'border-purple bg-purple text-white fit text-uppercase'
        })

      .col-6
        img(src='./assets/img/clipboard@1x.png' alt="Декорация").about-side-img

