include ../mixins/_main-about-slide-view

+main-about-slide-view({
  bg: 'about_1@1x.jpg',
  title: 'Reporting Temperi Logistics Ltd',
  sideImg: 'clipboard@1x.png',
  desc: '',
  btnText: 'More Info',
  slideContentCls: 'col-12 col-lg-8',
  type: 'main'
})
