include ../mixins/_main-about-slide-view

.carousel-item.h-100.about-slide-item.slide-bg(data-title="Reporting Temperi Logistics Ltd")
  picture
    source(srcset="./assets/img/about_3-tablet@1x.jpg" media="(max-width: 1200px)")
    img(src="./assets/img/about_3@1x.jpg" alt="clipboard-bg")
  .container.h-100
    .row.h-100
      .col-12.col-xl-6.mb-auto.my-xl-auto.d-flex.flex-column
        h2.mb-4.text-center.text-xl-start Reporting Temperi Logistics Ltd

        +main-link({
          text: 'more info',
          cls: 'border-purple bg-purple text-white fit text-uppercase  mx-auto mx-xl-0',
          url: '#'
        })


