include ../mixins/_download-btn

.carousel-item.active.my-auto
  .container
    .row
      .col-7.outline
        h2.section-title.mb-3 About us
        p.about-slide-desc The company was established in 2020, but the team has 30 years of hands-on experience in these areas.
        p.about-slide-text Operational activity of the company covers the region of 2.5 million square kilometers of land in Europe and Asia. Conducts and supports marketing and engineering studies related to special cargo transportation conditions and processing of large data sets. The company is interested in investment projects related to <span>job creation in Bulgaria</span>.
        .row.mb-4
          .col
            svg(width="75" height="46").mb-3
              use(xlink:href="./assets/svg-sprite.svg#icon-ship")

            p.about-slide-text Organizing the delivery of raw materials by rail transport of <span> 4 million </span> tons per year: to end users in industry and power generation; to sea and river ports

          .col
            svg(width="75" height="46").mb-3
              use(xlink:href="./assets/svg-sprite.svg#icon-ship")

            p.about-slide-text Storage, transshipment, quality control, insurance and chartering of <span>sea vessels.</span>

          .col
            svg(width="75" height="46").mb-3
              use(xlink:href="./assets/svg-sprite.svg#icon-ship")
            p.about-slide-text Wholesale supplies of raw materials and solid fuels <span>300,000 tons</span> per year. Main markets: EU (Bulgaria, Poland, Romania)

        .mb-3.d-flex.align-items-center
          +download-btn({
            cls: "me-4 about-slide-btn",
            isIconEnabled: true,
            btnText: 'download BUSINESS ETHICS POLICY'
          })
          a(href="#").btn.btn-purple.rounded-0.about-slide-btn More info

      .col-5.outline(style="background-color: #664599").p-5
        img( src="./assets/img/logo-symbol@1x.png" width="169" height="209").mb-3

        h3.text-white.mb-3 We offer

        p.about-slide-desc.fw-light.text-white a wide range of PCI coal products, power-generating coal (long-flame D, long-flame D/gas G), coking coals (gas G, gas fat GZh, gas fat lean GZhO, coking K, coking fat KZh, coking lean KO, coking sinter KS, low-caking SS, forge OS), anthracite.

        p.about-slide-text.mb-3.text-white If you are interested in deliveries, please fill out the questionnaire:

        +download-btn({
          cls: "me-4 text-white border-white about-slide-btn about-slide-btn-purple",
          isIconEnabled: true,
          btnText: 'download questionnaire'
        })
