include ../mixins/_main-about-slide-view
include ../mixins/_product-card

.carousel-item.h-100(data-title="Products of our customers & contractors")
  .container.h-100
    .row.h-100
      .col-12.col-xl-6.d-flex.flex-column.my-auto
        h2.mb-4.text-center.text-xl-start Products of our customers & contractors

        +main-link({
          text: 'more info',
          cls: 'border-purple bg-purple text-white fit text-uppercase mx-auto mx-xl-0 mb-3',
          url: 'customers.html'
        })

      .col-12.col-xl-6.my-auto
        .row.g-3
          .col-6
            .card.about-slide-card.rounded-0.border-0
              img(src= `./assets/img/evraz-product_1@1x.jpg` alt="").card-img.rounded-0
              .card-body.d-flex.flex-column.p-3.bg-lightgray
                h3.customer-product-title.fw-medium.mb-0 Anthracite grade ASH
                p.fw-light.m-0 Size 1-6 mm
          .col-6
            .card.about-slide-card.rounded-0.border-0
              img(src= `./assets/img/evraz-product_1@1x.jpg` alt="").card-img.rounded-0
              .card-body.d-flex.flex-column.p-3.bg-lightgray
                h3.customer-product-title.fw-medium.mb-0 Anthracite grade ASH
                p.fw-light.m-0 Size 1-6 mm
          .col-6
            .card.about-slide-card.rounded-0.border-0
              img(src= `./assets/img/evraz-product_1@1x.jpg` alt="").card-img.rounded-0
              .card-body.d-flex.flex-column.p-3.bg-lightgray
                h3.customer-product-title.fw-medium.mb-0 Anthracite grade ASH
                p.fw-light.m-0 Size 1-6 mm
          .col-6
            .card.about-slide-card.rounded-0.border-0
              img(src= `./assets/img/evraz-product_1@1x.jpg` alt="").card-img.rounded-0
              .card-body.d-flex.flex-column.p-3.bg-lightgray
                h3.customer-product-title.fw-medium.mb-0 Anthracite grade ASH
                p.fw-light.m-0 Size 1-6 mm
