include ../mixins/_main-about-slide-view

.carousel-item.h-100.about-slide-item(data-title="Organization structure")
  picture
    source(srcset="./assets/img/about_1-1-tablet@1x.png" media="(max-width: 1200px)")
    img(src="./assets/img/about_1-1@1x.png" alt="book-bg")

  .container.h-100
    .row.h-100
      .col-12.col-xl-6.mb-auto.my-xl-auto.d-flex.flex-column
        h2.mb-4.text-center.text-xl-start Organization structure Temperi Logistics Ltd

        +main-link({
          text: 'more info',
          cls: 'border-purple bg-purple text-white fit text-uppercase mx-auto mx-xl-0',
          url: 'about.html'
        })
