ul.nav.flex-column.mb-4
  li.nav-item.mb-2
    a(href="#").text-white Home
  li.nav-item.mb-2
    a(href="#").text-white About us
  li.nav-item.mb-2
    a(href="#").text-white Projects
  li.nav-item.mb-2
    a(href="#").text-white Publications
  li.nav-item.mb-2
    a(href="#").text-white Аnnouncement
  li.nav-item.mb-2
    a(href="#").text-white FAQ
