ul.contacts-list.d-flex.flex-column.p-0.mb-3
  li.d-flex.align-items-center.mb-2.fw-light Tel/WhatsApp: <a class="fw-medium text-white ps-2" href="tel:+359878877365">+359 878877365</a>
  li.d-flex.align-items-center.mb-2.fw-light Skype: <a class="main-link ps-2" href="#">Temperi Logistics</a>
  li.d-flex.align-items-center.mb-2.fw-light E-mail: <a class="main-link ps-2" href="mailto:temperilogistics.bg@gmail.com">temperilogistics.bg@gmail.com</a>

h3.mb-3 Branch
ul.contacts-list.d-flex.flex-column.p-0.mb-3
  li.d-flex.align-items-center.mb-2.fw-light Budapest: <a class="fw-medium text-white ps-2" href="tel:+36170090165">+361 700 90 165</a>
  li.d-flex.align-items-center.mb-2.fw-light Tel Aviv-Yafo: <a class="fw-medium text-white ps-2" href="tel:+97233761079">+972 3 376 1079</a>
