ul.nav.flex-column.mb-4
  li.nav-item.mb-2
    a(href="index.html").text-white Home
  li.nav-item.mb-2
    a(href="about.html").text-white About us
  li.nav-item.mb-2
    a(href="projects.html").text-white Projects
  li.nav-item.mb-2
    a(href="publications.html").text-white Publications
  li.nav-item.mb-2
    a(href="announcement.html").text-white Аnnouncement
  li.nav-item.mb-2
    a(href="FAQ.html").text-white FAQ
