include ../mixins/_main-intro-slide-view

+main-intro-slide-view({
  bg: 'intro_4@1x.jpg',
  title: 'Expectation',
  desc: 'Varna, near See Port, Expectation photo Temperi Logistics ltd 2021',

  slideContentCls: 'col-4',
  type: 'collage',

  collageItems: [
    {
      alt: 'collage-part',
      img: 'collage-part_1@1x.jpg',
      cls: 'col-3'
    },

    {
      alt: 'collage-part',
      img: 'collage-part_2@1x.jpg',
      cls: 'col-3'
    },

    {
      alt: 'collage-part',
      img: 'collage-part_3@1x.jpg',
      cls: 'col-6'
    },
  ]
})
