include ../mixins/_main-intro-slide-view

+main-intro-slide-view({
  bg: 'intro_2@1x.jpg',
  title: 'Organization structure Temperi Logistics Ltd',
  desc: 'Mittens production',
  btnText: 'More Details',
  slideContentCls: 'col-12 col-lg-8',
  type: 'main',
  cls: 'h-100',
  dataTitle: 'Organization structure',

  sideItems: [
    {
       cls: 'bg-purple p-3 p-md-4 text-white mb-3 mb-md-0 mb-lg-3 me-0 me-md-3 me-lg-0',
      titleCount: '4',
      titleText: 'million <br/> tons per year',
      desc: 'Organizing the delivery of raw materials by rail transport'
    },
    {
       cls: 'bg-purple p-3 p-md-4 text-white mb-3 mb-md-0 mb-lg-3 me-0 me-md-3 me-lg-0',
      titleCount: '300',
      titleText: 'thousand <br/> tons per year',
      desc: 'Wholesale supplies of raw materials and solid fuels'
    },
    {
      cls: 'bg-purple p-3 p-md-4 text-white',
      titleCount: '2,5',
      titleText: 'million <br/> square kilometers',
      desc: 'Operational activity covers the territory of Europe and Asia'
    },
  ]
})
