include ../mixins/_main-intro-slide-view

+main-intro-slide-view({
  bg: 'intro_0@1x.jpg',
  title: 'Temperi Logistics Ltd <br/> — freight forwarding services',
  desc: '— Sale of anthracite, coal, coke products',
  btnText: 'More Details',
  slideContentCls: 'col-6',
  type: 'main',

  sideItems: [
    {
      cls: 'bg-purple p-4 text-white mb-3',
      titleCount: '4',
      titleText: 'million <br/> tons per year',
      desc: 'Organizing the delivery of raw materials by rail transport'
    },
    {
      cls: 'bg-purple p-4 text-white mb-3',
      titleCount: '300',
      titleText: 'thousand <br/> tons per year',
      desc: 'Wholesale supplies of raw materials and solid fuels'
    },
    {
      cls: 'bg-purple p-4 text-white',
      titleCount: '2,5',
      titleText: 'million <br/> square kilometers',
      desc: 'Operational activity covers the territory of Europe and Asia'
    },
  ]
})
