include ../mixins/_main-intro-slide-view

+main-intro-slide-view({
  bg: 'intro_0@1x.jpg',
  title: 'Contracts Portfolio',
  desc: 'Our partners and customers ',
  btnText: 'More Details',
  slideContentCls: 'col-4',
  type: 'partners',

  partners: [
    { name: 'ArcelorMittal', img: 'partner_1@1x.png' },{ name: 'SibCoal', img: 'partner_2@1x.png' },{ name: 'Evraz', img: 'partner_3@1x.png' },
    { name: 'Cotecna', img: 'partner_4@1x.png' },{ name: 'Jobs.bg', img: 'partner_5@1x.png' },{ name: 'IBS', img: 'partner_6@1x.png' },
    { name: 'IBU Trage KFT', img: 'partner_7@1x.png' },{ name: 'TR', img: 'partner_8@1x.png' },{ name: 'OKD', img: 'partner_9@1x.png' },
    { name: 'SZIP', img: 'partner_10@1x.png' },{ name: 'Portinvest Logistics', img: 'partner_11@1x.png' },{ name: 'Vivacom', img: 'partner_12@1x.png' },
  ]
})
