extends layouts/inner-layout.pug
include ./mixins/_breadcrumbs

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .questions-page
    .container
      +breadcrumbs([
        {
          url: 'index.html',
          name: 'Home'
        },

        {
          name: 'Frequently asked questions'
        }
      ])
      include ./sections/questions-page/questions

block modals
  //include ./modals/...
