extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/index-page/intro
  include ./sections/index-page/about
  include ./sections/index-page/projects
  include ./sections/index-page/publications
  include ./sections/index-page/announcement
  include ./sections/index-page/faq
  #scrollbar

block modals
  //include ./modals/...
