extends layouts/inner-layout.pug
include ./mixins/_breadcrumbs

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .projects-page
    .container
      +breadcrumbs([
        {
          url: 'index.html',
          name: 'Home'
        },

        {
          name: 'Projects'
        }
      ])
      include ./sections/projects-page/projects

block modals
  //include ./modals/...
