extends layouts/inner-layout.pug
include ./mixins/_breadcrumbs

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .project-article-page
    .container
      +breadcrumbs([
        {
          url: 'index.html',
          name: 'Home'
        },

        {
          url: 'projects.html',
          name: 'Projects'
        },

        {
          name: 'Railway and marine forwarding'
        }
      ])
      include ./sections/projects-page/project-article

block modals
  //include ./modals/...
