extends layouts/main-layout.pug
include ./mixins/_breadcrumbs

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .publication-article-page
    .container
      +breadcrumbs([
        {
          url: 'index.html',
          name: 'Home'
        },

        {
          url: 'publication.html',
          name: 'Publication'
        },

        {
          name: 'Gasification of Bulgarian mined coals'
        }
      ])
      include ./sections/publications-page/publication-article

block modals
  //include ./modals/...
