mixin accordion(opt)
  .accordion(id= opt.id)
    each item in opt.items
      .accordion-item
        h2(id= item.headerID).accordion-header
          button(type="button" data-bs-toggle="collapse" data-bs-target="#" + item.targetID aria-expanded= item.ariaExpanded aria-controls= item.targetID class= !item.collapsed ? 'collapsed' : '').accordion-button.fw-medium.fs-3
            span.pe-5= item.buttonText
        .accordion-collapse.collapse(aria-labelledby= item.headerID data-bs-parent="#" + opt.id class= item.collapsed ? 'show' : '' id= item.targetID)
          .accordion-body.fw-light!= item.bodyText
            if item.linkText
              a(href= item.linkUrl).text-purple.fw-semi.d-inline-block= item.linkText
