include ./_download-btn
include ./_badge
include ./_article-include
include ./_video-container

-
  const commonMb = 'mb-3 mb-md-4 mb-lg-5'

mixin article-page-view(data)
  section.article.border-bottom.mb-5
    .row
      .article-header.mb-4.mb-md-5
        img(src=`./assets/img/${data.headImg}` alt= data.title)
        .article-header-container
          h1.article-title.text-white= data.title
          if data.isBadgeEnabled
            .article-badges
              +badge({
                cls: 'fw-medium me-3',
                text: '19.08.2022'
              })
              +badge({
                cls: 'fw-light author-badge',
                text: 'Author: Liliya Seropyan'
              })

      .article-content.col-md-8.mx-auto
        h2.article-strong.fw-medium(class= commonMb) Cras faucibus congue ligula, eget lobortis elit rhoncus in. In elementum ultrices lobortis. Nulla blandit ex suscipit consectetur vehicula. Nam placerat nec sem vel ullamcorper. Phasellus eget vulputate nunc. Morbi sed turpis at velit vestibulum ullamcorper laoreet at sapien. Duis a risus vitae sem fermentum lacinia a volutpat metus.

        p.article-text.fw-light(class= commonMb) Vivamus efficitur mi a tellus ultrices mollis. Aliquam erat volutpat. Vestibulum sit amet tellus at tellus bibendum mattis. Maecenas nunc sapien, auctor vel nisl vitae, porttitor pharetra dui. Praesent id lacus in enim mattis blandit a at sem. Aenean nec nibh dictum, ullamcorper metus vel, iaculis dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus accumsan diam et imperdiet volutpat. Fusce dapibus tellus nec ullamcorper pulvinar. Integer et consequat sem, eget scelerisque tortor. Integer volutpat consequat pharetra. In risus metus, sollicitudin eu tellus quis, pulvinar dapibus nisi. Nam nunc leo, sollicitudin eu eros a, convallis imperdiet nunc. Maecenas tristique quam est.

        .article-note.d-flex.py-3(class= commonMb)
          svg(width="86" height="74")
            use(xlink:href="./assets/svg-sprite.svg#icon-quotes")

          p.fw-medium.fst-italic Phasellus sapien urna, facilisis fermentum faucibus et, tincidunt at augue. Nam sagittis felis dapibus, feugiat diam eget, posuere enim. Etiam quis leo vel felis faucibus maximus sit amet sed purus.

        p.article-text.fw-light.mb-3 Morbi eget massa id tortor luctus blandit vehicula quis diam. Donec purus metus, ullamcorper id sem non, dictum tincidunt sapien.

        ul.article-list
          li.fw-light.mb-2.article-text Aenean eget quam id arcu laoreet convallis.
          li.fw-light.mb-2.article-text Nullam suscipit leo eu massa auctor consectetur.
          li.fw-light.mb-2.article-text Praesent non sem ac enim pharetra efficitur.
          li.fw-light.mb-2.article-text Quisque accumsan sagittis nibh efficitur accumsan.

        p.article-text.fw-light(class= commonMb) Curabitur a lectus ac augue blandit iaculis. Nulla sapien felis, mattis quis rhoncus at, volutpat ut diam. Etiam dolor elit, aliquam quis sagittis at, ornare eget risus. Nam consectetur velit sit amet sem <a href="#" class="main-link">vestibulum</a>, sed aliquet tellus fringilla. Phasellus mauris sem, aliquet et libero ac, suscipit maximus risus.

      .article-media.col-md-10.row.mx-auto(class= commonMb)
        .article-media-content.col-md-6.mb-3.mb-md-0
          img(src=`./assets/img/${data.media.img}` alt= data.title width="470" height="264")

        .article-media-content.col-md-6
          +video-container({
            img: data.media.videoPreviewImg,
            imgWidth: '470',
            imgHeight: '264',
            title: data.media.videoPreviewTitle
          })

      .article-content.col-md-8.mx-auto(class= commonMb)
        p.article-text.fw-light(class= commonMb) Curabitur egestas dolor scelerisque nulla facilisis, sit amet scelerisque diam mollis. Sed ornare tellus sed nisl porttitor faucibus. In at massa erat. Fusce fringilla, orci in ultricies tincidunt, nunc ante consequat sem, ut vehicula nulla nisl sed magna. Vivamus ultricies laoreet purus, sed vulputate risus pellentesque volutpat.

        h2.article-strong Quisque metus est, imperdiet at vulputate ac, gravida at mi

        p.article-text.fw-light.mb-3 Cras tincidunt mi at nibh ullamcorper, id molestie est fringilla. Praesent suscipit libero nisl, vel commodo sapien finibus eget. Nam mauris augue, pulvinar quis tempor a, maximus sit amet felis. Pellentesque malesuada nulla vitae est luctus cursus. Fusce dignissim et purus sit amet pellentesque.

        p.article-text.fw-light(class= commonMb) Cras finibus nibh libero, eu blandit ante dapibus a. Sed dictum tellus et dapibus venenatis. Pellentesque eget arcu nec dolor ullamcorper maximus eu vitae nisl. In gravida magna et elit elementum, nec condimentum velit eleifend.

        h2.article-strong Additional files:

        +article-include({
          cls: 'mb-4',
          icon: 'icon-file',
          linkText: 'Regulations',
          linkUrl: '#',
          text: 'Date added 10.12.2021 / 17:21'
        })

        +article-include({
          cls: 'mb-4',
          icon: 'icon-file',
          linkText: 'Typical form for contract.docx',
          linkUrl: '#',
          text: 'Date added 10.12.2021 / 17:23'
        })

        +article-include({
          cls: 'mb-5',
          icon: 'icon-file',
          linkText: 'Qualitative requirements.pdf',
          linkUrl: '#',
          text: 'Date added 10.12.2021 / 17:29'
        })

        +download-btn({
          isIconEnabled: true,
          btnText: 'download specification',
          cls: commonMb
        })
