mixin download-link(opt)
  a(href="#" class= opt.cls ? opt.cls : '')= opt.btnText
    if opt.isIconEnabled
      svg(width="24" height="24")
        use(xlink:href="./assets/svg-sprite.svg#icon-download2")
