mixin download-btn(opt)
  a.btn.btn-outline-purple.px-2.px-sm-4.py-3.rounded-0.text-uppercase.fw-medium.download-btn(href="#" class= opt.cls ? opt.cls : '')= opt.btnText
    if opt.isIconEnabled
      svg(width="24" height="24")
        use(xlink:href="./assets/svg-sprite.svg#icon-download2")
