include ./_card
include ./_main-select

mixin inner-page-view(data)
  section.pb-5(class= data.pageClass)
    .section-header.d-flex.flex-column.align-items-start.flex-md-row.align-items-md-center
      h1.me-auto.pe-3= data.pageTitle

      .select-box.d-flex.align-items-center
        span.me-2.fw-light Sort&nbsp;By:
        +main-select({
          label: 'Sort by',
          selected: 'Publication date',
          options: ['Publication date', 'Two', 'Three']
        })

    .row
      .col-12.col-lg-4.col-xxl-6.mb-4
        +card(data.headCard)

      each card in data.cards
        .col-12.col-sm-6.col-lg-4.col-xxl-3.mb-4
          +card(card)

    .row.pt-5.mb-5
      include ../components/_pagination
