include ../../mixins/_inner-page-view

-
  headCard = {
    type: 'important',
    isBadgesEnabled: true,
    dateBadge: '18.12.2021',
    title: 'Our company is looking for an industrial building',
    desc: 'District: western and northern industrial zones in Varna.<br/>There must be a permit for production on the project.<br/>Building: 150 - 200 meters;<br/>Ground floor: at least 100 meters...',
    url: 'announcement-article.html'
  }
-
  cards = [
    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'We are looking for warehousing ',
      desc: 'We are looking for warehousing and production premises for the production of refractories in Varna or Burgas area...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Temperi Logistics is ready and would like to have an operating manufacturing business',
      desc: 'Temperi Logistics is ready and would like to have an operating manufacturing...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'We are looking for warehousing ',
      desc: 'We are looking for warehousing and production premises for the production of refractories in Varna or Burgas area...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Temperi Logistics is ready and would like to have an operating manufacturing business',
      desc: 'Temperi Logistics is ready and would like to have an operating manufacturing...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'We are looking for warehousing ',
      desc: 'We are looking for warehousing and production premises for the production of refractories in Varna or Burgas area...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Temperi Logistics is ready and would like to have an operating manufacturing business',
      desc: 'Temperi Logistics is ready and would like to have an operating manufacturing...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'We are looking for warehousing ',
      desc: 'We are looking for warehousing and production premises for the production of refractories in Varna or Burgas area...',
      url: 'announcement-article.html'
    },

    {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Temperi Logistics is ready and would like to have an operating manufacturing business',
      desc: 'Temperi Logistics is ready and would like to have an operating manufacturing...',
      url: 'announcement-article.html'
    },
  ]

-
  const data = {
    headCard,
    cards,
    pageTitle: 'Announcement',
    pageClass: 'announcement'
  }

+inner-page-view(data)
