include ../../mixins/_download-btn
include ../../mixins/_accordion
include ../../mixins/_download-btn

-
  aboutAccOptions = {
    id: 'about_accordion',
    cls: 'about-accordion mb-5',

    items: [
      {
        headerID: 'owner',
        buttonText: 'OWNER of the company capital',
        targetID: 'collapse_owner',
        bodyText: `
          <div class="d-flex flex-column flex-md-row align-items-md-center animated-body mb-4 pe-5">
            <img src="./assets/img/owner@1x.jpg" alt="Borys Levit" width="212" height="283" class="mb-3 mb-md-0 me-5"/>

            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">OWNER of the company capital</span>

              <h3>Borys Levit</h3>

              <p>Ph.D. of Engineering Sciences since 1995 transport processes economic and mathematical modeling</p>
              </br>
              <p><a href="#">boryslevit@temperi-logistics.com</a></p>
              <p><a href="#">temperilogistics.bg@gmail.com</a></p>
            </div>
          </div>
        `,
        ariaExpanded: true,
        collapsed: true,
      },

      {
        headerID: 'stuff',
        buttonText: 'STAFF of the company',
        targetID: 'collapse_stuff',
        bodyText: `
          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <img src="./assets/img/lilia.png" alt="Liliya Seropyan" width="212" height="283" class="mb-3 mb-md-0 me-5"/>

            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Managing director</span>
              <h3>Liliya Seropyan</h3>
              <p>Master Transportation Engineer from Technical University of Varna</p>
              <p><a href="liliyaseropyan@temperi-logistics.com">liliyaseropyan@temperi-logistics.com</a></p>
              <p><a href="mailto:seropyan.temperilogistics@gmail.com">seropyan.temperilogistics@gmail.com</a></p>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Accountant</span>
              <p><a href="mailto:acc.TemperiLogistics@gmail.com">acc.TemperiLogistics@gmail.com</a></p>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Translator</span>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Specialist</span>
              <p><a href="mailto:vvelev@temperi-logistics.com">vvelev@temperi-logistics.com</a></p>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Senior specialist</span>
              <p><a href="mailto:n.smakovskiy@temperi-logistics.com">n.smakovskiy@temperi-logistics.com</a></p>
            </div>
          </div>
        `,
        ariaExpanded: true,
        collapsed: false,
      },

      {
        headerID: 'outsourcing',
        buttonText: 'OUTSOURCING — functions transferred to separate structures',
        targetID: 'collapse_outsourcing',
        bodyText: `
          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Accounting Aglaya Grupp Company</span>
              <p><a href="mailto:aglya@abv.bg">aglya@abv.bg</a></p>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Translations Reni Jelyaskova Company</span>
              <p><a href="mailto:tidorino@abv.bg">tidorino@abv.bg</a></p>
            </div>
          </div>
        `,
        ariaExpanded: true,
        collapsed: false,
      },

      {
        headerID: 'outstaffing',
        buttonText: 'OUTSTAFFING — freelance staff',
        targetID: 'collapse_outstaffing',
        bodyText: `
          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Owner's representative Assistant</span>
              <p><a href="mailto:temperilogistics.bg2@gmail.com ">temperilogistics.bg2@gmail.com </a></p>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Independent consultant</span>
              <p><a href="mailto:m_pechev@abv.bg">m_pechev@abv.bg</a></p>
              <p><a href="mailto:developer@temperi-logistics.com">developer@temperi-logistics.com </a></p>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-md-center mb-4 pe-5">
            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">Lawyer</span>
              <span class="fw-medium fs-light">Departments - 12 specialists</span>

              <ul>
                <li class="mb-2">
                  <p>- Department of Management Accounting</p>
                  <p><a href="mailto:tl.freelance.booker@gmail.com">tl.freelance.booker@gmail.com</a></p>
                </li>
                <li class="mb-2">
                  <p>- Analytical department</p>
                  <p><a href="mailto:tl.freelance.analyst@gmail.com">tl.freelance.analyst@gmail.com</a></p>
                </li>
                <li class="mb-2">
                  <p>- IT department</p>
                  <p><a href="mailto:admintl@temperi-logistics.com">admintl@temperi-logistics.com</a></p>
                </li>
                <li class="mb-2">
                  <p>- HR department</p>
                  <p><a href="mailto:hr.temperilogistics@gmail.com">hr.temperilogistics@gmail.com</a></p>
                </li>
              </ul>
            </div>
          </div>
        `,
        ariaExpanded: true,
        collapsed: false,
      }
    ]
  }

-
  aboutVacanciesOptions = {
    id: 'vakancies_accordion',
    cls: 'vakancies-accordion mb-5',

    items: [
      {
        headerID: 'vacancies',
        buttonText: `
          <svg width="32" height="32" class="me-2 me-md-3">
            <use xlink:href="./assets/svg-sprite.svg#icon-briefcase"></use>
          </svg>
          VACANCIES of the company
        `,
        targetID: 'collapse_vacancies',
        bodyText: `
          <p>Coal Product Manager</p>
          <p>Timber Manager</p>
          <p>Specialist on the shipping</p>
          <p>Director of the Department of the Agricultural Products Transportation</p>

          <p><a href="#">hr.temperilogistics@gmail.com</a></p>
        `
      }
    ]
  }

section.about
  .about-header.position-relative.mb-4.mb-md-5.about-header.d-flex.flex-column.flex-sm-row.align-items-start.align-items-sm-center
    h1.mb-3.m-sm-0 About Temperi Logistics Ltd
    button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample").btn.rounded-0.btn-outline.border-purple.btn-puple show more

  .row.pb-3.bg-white
    .collapse(id="collapseExample")
        .card.card-body.border-0
          .container
            .row
              .col-12
                p.about-slide-desc The company was established in 2020, but the team has 30 years of hands-on experience in these areas.
                p.about-slide-text Operational activity of the company covers the region of 2.5 million square kilometers of land in Europe and Asia. Conducts and supports marketing and engineering studies related to special cargo transportation conditions and processing of large data sets. The company is interested in investment projects related to <span>job creation in Bulgaria</span>.

                .row.mb-3.d-flex.flex-column.flex-sm-row
                  .col
                    svg(width="45" height="46" style="fill: none;").mb-3
                      use(xlink:href="./assets/svg-sprite.svg#icon-train")

                    p.about-slide-text Organizing the delivery of raw materials by rail transport of <span> 4 million </span> tons per year: to end users in industry and power generation; to sea and river ports

                  .col
                    svg(width="75" height="46" style="fill: #664599;").mb-3
                      use(xlink:href="./assets/svg-sprite.svg#icon-ship")

                    p.about-slide-text Storage, transshipment, quality control, insurance and chartering of <span>sea vessels.</span>

                  .col
                    svg(width="34" height="46" style="fill: none;").mb-3
                      use(xlink:href="./assets/svg-sprite.svg#icon-boxes")
                    p.about-slide-text Wholesale supplies of raw materials and solid fuels <span>300,000 tons</span> per year. Main markets: EU (Bulgaria, Poland, Romania)

                +download-btn({
                  cls: "me-0 me-lg-4 about-slide-btn mb-3 mb-xl-0 ",
                  isIconEnabled: true,
                  btnText: 'download BUSINESS ETHICS POLICY'
                })
  .row.bg-white.py-5

    .col-8.mx-auto.py-4
      h2.mb-5.fs-2 Organizational Structure

      +accordion(aboutAccOptions)

      +download-btn({
        btnText: 'Download structure',
        isIconEnabled: true,
        cls: 'fit'
      })

  .row
    .col-8.mx-auto.py-4
      +accordion(aboutVacanciesOptions)
