include ../../mixins/_download-btn
include ../../mixins/_accordion

-
  aboutAccOptions = {
    id: 'about_accordion',
    cls: 'about-accordion mb-5',

    items: [
      {
        headerID: 'owner',
        buttonText: 'OWNER of the company capital',
        targetID: 'collapse_owner',
        bodyText: `
          <div class="d-flex flex-column flex-md-row align-items-center animated-body mb-5 pe-5">
            <img src="./assets/img/owner@1x.jpg" alt="Borys Levit" width="212" height="283" class="me-5"/>

            <div class="d-flex flex-column">
              <span class="accordion-button-title mb-1">OWNER of the company capital</span>

              <h3>Borys Levit</h3>

              <p>Ph.D. of Engineering Sciences since 1995 transport processes economic and mathematical modeling</p>
              </br>
              <p><a href="#">boryslevit@temperi-logistics.com</a></p>
              <p><a href="#">temperilogistics.bg@gmail.com</a></p>
            </div>
          </div>
        `,
        ariaExpanded: true,
        collapsed: true,
      },

      {
        headerID: 'stuff',
        buttonText: 'STAFF of the company',
        targetID: 'collapse_stuff',
        bodyText: `
          stuff
        `,
        ariaExpanded: true,
        collapsed: false,
      },

      {
        headerID: 'outsourcing',
        buttonText: 'OUTSOURCING — functions transferred to separate structures',
        targetID: 'collapse_outsourcing',
        bodyText: `
          outsourcing
        `,
        ariaExpanded: true,
        collapsed: false,
      },

      {
        headerID: 'outstaffing',
        buttonText: 'OUTSTAFFING — freelance staff',
        targetID: 'collapse_outstaffing',
        bodyText: `
          outstaffing
        `,
        ariaExpanded: true,
        collapsed: false,
      }
    ]
  }

-
  aboutVacanciesOptions = {
    id: 'vakancies_accordion',
    cls: 'vakancies-accordion mb-5',

    items: [
      {
        headerID: 'vacancies',
        buttonText: `
          <svg width="32" height="32" class="me-2 me-md-3">
            <use xlink:href="./assets/svg-sprite.svg#icon-vakancies"></use>
          </svg>
          VACANCIES of the company
        `,
        targetID: 'collapse_vacancies',
        bodyText: `
          <p>Coal Product Manager</p>
          <p>Timber Manager</p>
          <p>Specialist on the shipping</p>
          <p>Director of the Department of the Agricultural Products Transportation</p>

          <p><a href="#">hr.temperilogistics@gmail.com</a></p>
        `
      }
    ]
  }

section.about
  h1.mb-4.mb-md-5 About Temperi Logistics Ltd

  .row.bg-white.py-5
    .col-8.mx-auto.py-4
      h2.mb-5.fs-2 Organizational Structure

      +accordion(aboutAccOptions)

      +download-btn({
        btnText: 'Download structure',
        isIconEnabled: true,
        cls: 'fit'
      })

  .row
    .col-8.mx-auto.py-4
      +accordion(aboutVacanciesOptions)
