.swiper.main-swiper
  .swiper-wrapper
    .swiper-slide
      section.about
        .swiper.inner-swiper
          .swiper-wrapper
            .swiper-slide
              p about-1
            .swiper-slide
              p about-2
            .swiper-slide
              p about-3

    .swiper-slide
      section.intro
        .swiper.inner-swiper
          .swiper-wrapper
            .swiper-slide
              p intro-1
            .swiper-slide
              p intro-2
            .swiper-slide
              p intro-3

