include ../../mixins/_main-card-section

-
  const announcementsData = {
    sectionClass: 'announcement',
    sectionTitle: 'Announcement',
    linkUrl: 'announcement.html',

    headCard: {
      type: 'mini',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      title: 'Our company is looking for an industrial building',
      desc: 'Our company is looking for an industrial building for a sewing workshop in Varna...',
      url: 'announcement-article.html'
    },

    cards: [
      {
        type: 'mini',
        isBadgesEnabled: true,
        dateBadge: '18.12.2021',
        title: 'We are looking for warehousing ',
        desc: 'We are looking for warehousing and production premises for the production of refractories in Varna or Burgas area...',
        url: 'announcement-article.html'
      },

      {
        type: 'mini',
        isBadgesEnabled: true,
        dateBadge: '18.12.2021',
        title: 'Temperi Logistics is ready and would like to have an operating manufacturing business',
        desc: 'Temperi Logistics is ready and would like to have an operating manufacturing...',
        url: 'announcement-article.html'
      }
    ]
  }

+main-card-section(announcementsData)
