include ../../mixins/_main-card-section

-
  const projectsData = {
    sectionClass: 'projects',
    sectionId: 'projects',
    sectionTitle: 'Projects',
    linkUrl: 'projects.html',
    bgColor: 'lightgray',

    headCard: {
      type: 'full',
      img: './assets/img/projects_1@1x.jpg',
      title: 'Railway and marine forwarding',
      desc: 'Railway and marine forwarding. 3.5 mln tones, average distance 4800 km...',
      url: 'project-article.html'
    },

    cards: [
      {
        type: 'short',
        img: './assets/img/projects_2@1x.jpg',
        title: 'Coal trading, 250 000 tones',
        desc: 'Coal trading, 250 000 tones.Coal trading, 250 000 tones...',
        url: 'project-article.html'
      },

      {
        type: 'short',
        img: './assets/img/projects_3@1x.jpg',
        title: 'Transport package trading and producing',
        desc: 'Transport package trading and producing...',
        url: 'project-article.html'
      }
    ]
  }

+main-card-section(projectsData)
