include ../../mixins/_main-card-section

-
  const publicationsData = {
    sectionClass: 'publications bg-white',
    sectionTitle: 'Publications',
    linkUrl: 'publications.html',

    headCard: {
      type: 'full',
      isBadgesEnabled: true,
      dateBadge: '18.12.2021',
      img: './assets/img/publ_1@1x.jpg',
      title: 'Gasification of Bulgarian mined coals',
      desc: 'Apply for funding Senior specialist Nikolay Smakovskiy...',
      url: 'publication-article.html'
    },

    cards: [
      {
        type: 'short',
        isBadgesEnabled: true,
        dateBadge: '18.12.2021',
        cardBodyColor: 'lightgray',
        img: './assets/img/publ_2@1x.jpg',
        title: 'Complex wood processing in Bulgaria',
        desc: 'Apply for funding Senior specialist Sergey Todor...',
        url: 'publication-article.html'
      },

      {
        type: 'short',
        isBadgesEnabled: true,
        dateBadge: '18.12.2021',
        cardBodyColor: 'lightgray',
        img: './assets/img/publ_3@1x.jpg',
        title: 'Optimization of traffic flows by land and water transport in Bulgaria and the Balkans',
        desc: 'Ph.D. Borys Levit...',
        url: 'publication-article.html'
      }
    ]
  }

+main-card-section(publicationsData)
