footer.main-footer.pt-5.bg-lightblack.text-white
  .container
    .row.mb-5
      .col-12.col-md-6.col-xl.mb-5.mb-xl-0
        img(src="./assets/img/logo@1x.png" alt="Temperi Logostics, Ltd." width="272" height="42")

        .my-4
          p.fw-light Company Registration Number: <br/> 206032947
          p.fw-light VAT Number:<br/> BG206032947

        .d-flex.align-items-center
          img(src="./assets/img/logo-dun@1x.png" alt="Стара загора" width="80" height="68").me-4
          img(src="./assets/img/logo-dt@1x.png" alt="Duns Registered" width="91" height="68").ms-2

      .col-12.col-md-6.col-xl.mb-5.mb-xl-0.d-none.d-md-block
        h3.section-title.mb-3.mt-2 Address
        include ../components/_footer-address

      .col-12.col-md-6.col-xl.d-none.d-md-block
        h3.section-title.mb-3.mt-2 Contacts

        include ../components/_footer-contacts

      .col-12.col-md-6.col-xl.d-none.d-md-block
        h3.section-title.mb-3.mt-2 Company
        include ../components/_footer-nav

      .mobile-footer.d-md-none.mb-4
        .accordion#footerAcc
          .accordion-item
            h2.accordion-header#footerAccContacts
              button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterContacts" aria-expanded="true" aria-controls="collapseFooterContacts").accordion-button.text-white.fs-3.fw-semi Contacts
            .accordion-collapse.collapse.show#collapseFooterContacts(aria-labelledby="footerAccContacts" data-bs-parent="#footerAcc")
              include ../components/_footer-contacts

          .accordion-item
            h2.accordion-header#footerAccAddress
              button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterAddress" aria-expanded="true" aria-controls="collapseFooterAddress").accordion-button.text-white.fs-3.fw-semi Address
            .accordion-collapse.collapse#collapseFooterAddress(aria-labelledby="footerAccAddress" data-bs-parent="#footerAcc")
              include ../components/_footer-address

          .accordion-item
            h2.accordion-header#footerAccCompany
              button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooterCompany" aria-expanded="true" aria-controls="collapseFooterCompany").accordion-button.text-white.fs-3.fw-semi Company
            .accordion-collapse.collapse#collapseFooterCompany(aria-labelledby="footerAccCompany" data-bs-parent="#footerAcc")
              include ../components/_footer-nav


  .copyrights
    .container
      .row.py-2
        .col-12.col-md.d-flex.mb-2.mb-md-0
          p.my-auto.mx-auto.mx-md-0.me-md-auto.fw-light.text-muted © 2022 Temperi Logistics Ltd.

        .col-12.col-md.d-flex.mb-4.mb-md-0
          a(href="#").d-inline-flex.align-items-center.mx-auto.text-decoration-underline.fw-light.text-muted Privacy Policy

        .col-12.col-md.d-flex
          a(href="#" target="_blank").my-auto.mx-auto.mx-md-0.ms-md-auto
            img(src="./assets/img/wdmg-logo@1x.png" alt="Created by W.D.M.Group, Ukraine")
