//footer.pt-4.bg-lightblack.text-white
  .container
    .row
      .col-12.col-md
        img(src="./assets/img/logo@1x.png" alt="Temperi Logostics, Ltd." width="272" height="42").d-inline-block.mb-3

        .ms-5
          p Company Registration Number: <br/> 206032947
          p VAT Number:<br/> BG206032947

      .col-6.col-md.pt-2
        h5 Address

        address
          p 9000 Bulgaria, Varna, 9 Vladislav Varnenchik Blv., fl. 2, office-showroom
          p Temperi Logistics Ltd.
          a(href="#").btn.btn-outline-primary See on the map

      .col-6.col-md.pt-2
        h5 Contacts

        ul.nav.flex-column
          li.nav-item.mb-1
            | Tel/WhatsApp: <a class="nav-link" href="tel:+359878877365">+359 878877365</a>
          li.nav-item.mb-1
            | Skype: <a class="nav-link main-link" href="#">Temperi Logistics</a>
          li.nav-item.mb-1
            | E-mail: <a class="nav-link main-link" href="mailto:temperilogistics.bg@gmail.com">temperilogistics.bg@gmail.com</a>
        h6.mt-3 Branches
          ul.nav.flex-column
            li.nav-item.mb-1
              | Budapest: <a class="nav-link" href="tel:+3617009016">+361 700 90 16</a>
            li.nav-item.mb-1
              | Tel Aviv-Yafo: <a class="nav-link" href="tel:+97233761079">+972 3 376 1079</a>

      .col-6.col-md.pt-2
        h5 Company

        ul.nav.flex-column
          li.nav-item.mb-2
            a(href="#") Home
          li.nav-item.mb-2
            a(href="#") About us
          li.nav-item.mb-2
            a(href="#") Projects
          li.nav-item.mb-2
            a(href="#") Publications
          li.nav-item.mb-2
            a(href="#") Аnnouncement
          li.nav-item.mb-2
            a(href="#") FAQ

    .copyrights
      .container
        .row
          .col-4.col-md.text-muted
            p.d-inline-flex.my-auto.ms-0.me-auto © 2022 Temperi Logistics Ltd.

          .col-4.col-md
            a(href="#").text-muted Privacy Policy

          .col-4.col-md
            a(href="#" target="_blank" title="Created by W.D.M.Group, Ukraine").d-inline-flex.my-auto.ms-auto.me-0.text-muted W.D.M.Group, Ukraine

