include ../../mixins/_main-link
include ../../mixins/_accordion

-
  const accordionOptions = {
    id: 'question_accordion',
    items: [
      {
        headerID: 'heading_1',
        buttonText: 'How can I view the Resource base',
        targetID: 'collapse_1',
        bodyText: '<p>Fusce justo nibh, porttitor vel maximus vestibulum, porta at neque.Integer eget lobortis tortor. Duis nec cursus nisl. Quisque maximus arcu at magna rhoncus pulvinar. Curabitur euismod porttitor mauris vitae eleifend. Donec vestibulum sodales sagittis. Sed tempus, diam ut efficitur consectetur, erat risus condimentum turpis, vitae tempor metus arcu nec neque.</p> <p>Etiam luctus neque ac justo vehicula, porta auctor neque aliquet. Donec lobortis blandit venenatis. Sed id lorem non tortor maximus auctor. Phasellus fermentum semper tristique. Vestibulum bibendum auctor blandit. In dapibus cursus orci, nec efficitur dui ultricies in. Nulla a nisl ex. Maecenas at fringilla neque. </p>You can view the resource base by downloading the PDF file to your device using this link <a href="#" class="text-decoration-none">— Download PDF (0,25 Mb)</a>',
        ariaExpanded: true,
        collapsed: true
      },

      {
        headerID: 'heading_2',
        buttonText: 'Where to explore the Resource base for Bulgaria',
        targetID: 'collapse_2',
        bodyText: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam debitis nobis ipsa aut? Doloribus tempora quaerat sapiente id ullam, reprehenderit, possimus distinctio incidunt cum modi saepe impedit mollitia, provident voluptas?</p>',
        ariaExpanded: false,
        collapsed: false

      },

      {
        headerID: 'heading_3',
        buttonText: 'Do you have a prospect questionnaire',
        targetID: 'collapse_3',
        bodyText: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam debitis nobis ipsa aut? Doloribus tempora quaerat sapiente id ullam, reprehenderit, possimus distinctio incidunt cum modi saepe impedit mollitia, provident voluptas?</p>',
        ariaExpanded: false,
        collapsed: false
      },

      {
        headerID: 'heading_4',
        buttonText: 'Which of the ways of delivery is more preferably for your company?',
        targetID: 'collapse_4',
        bodyText: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam debitis nobis ipsa aut? Doloribus tempora quaerat sapiente id ullam, reprehenderit, possimus distinctio incidunt cum modi saepe impedit mollitia, provident voluptas?</p>',
        ariaExpanded: false,
        collapsed: false
      },

      {
        headerID: 'heading_5',
        buttonText: 'What quality certificates of independent expert organizations do your company accept (SGS, INCOLAB, Stewart Group or others)?',
        targetID: 'collapse_5',
        bodyText: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam debitis nobis ipsa aut? Doloribus tempora quaerat sapiente id ullam, reprehenderit, possimus distinctio incidunt cum modi saepe impedit mollitia, provident voluptas?</p>',
        ariaExpanded: false,
        collapsed: false
      },
    ]
  }

section.questions
  h1.mb-4.mb-md-5 Frequently asked questions
  .row
    .col-lg-8.mx-auto.d-flex.flex-column
      .accordion-container.pt-4.mb-5
        +accordion(accordionOptions)
